<div class="user-form">
  <div class="user-form__toolbar">
    <button nz-button nzType="default" routerLink="/users">
      <span nz-icon nzType="arrow-left"></span>
      К списку
    </button>
  </div>

  @if (loading()) {
    <div class="user-form__loading">
      <nz-spin nzSize="large" nzTip="Загрузка пользователя…"></nz-spin>
    </div>
  } @else {
    <nz-card>
      <h2 class="user-form__title">
        {{ isEdit() ? 'Редактирование пользователя' : 'Новый пользователь' }}
      </h2>
      <p class="user-form__subtitle">
        Поля, отмеченные <span class="user-form__required">*</span>, обязательны.
      </p>

      <form nz-form [formGroup]="form" (ngSubmit)="submit()" nzLayout="vertical">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label nzRequired>ФИО</nz-form-label>
              <nz-form-control
                nzHasFeedback
                [nzErrorTip]="nameErrors"
              >
                <input nz-input formControlName="name" placeholder="Иван Иванов" />
              </nz-form-control>
              <ng-template #nameErrors let-control>
                @if (control.hasError('required')) {
                  Введите имя.
                } @else if (control.hasError('minlength')) {
                  Имя должно быть не короче 2 символов.
                }
              </ng-template>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label nzRequired>Логин</nz-form-label>
              <nz-form-control
                nzHasFeedback
                [nzErrorTip]="usernameErrors"
              >
                <input nz-input formControlName="username" placeholder="ivanov" />
              </nz-form-control>
              <ng-template #usernameErrors let-control>
                @if (control.hasError('required')) {
                  Введите логин.
                } @else if (control.hasError('minlength')) {
                  Логин должен быть не короче 3 символов.
                }
              </ng-template>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label nzRequired>Email</nz-form-label>
              <nz-form-control
                nzHasFeedback
                [nzErrorTip]="emailErrors"
              >
                <input nz-input formControlName="email" placeholder="ivan@example.com" />
              </nz-form-control>
              <ng-template #emailErrors let-control>
                @if (control.hasError('required')) {
                  Введите email.
                } @else if (control.hasError('email')) {
                  Некорректный формат email.
                }
              </ng-template>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label>Телефон</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="phone" placeholder="+7 999 000 00 00" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label>Сайт</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="website" placeholder="example.com" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-divider nzText="Адрес" nzOrientation="left"></nz-divider>
        <div nz-row [nzGutter]="16" formGroupName="address">
          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label>Улица</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="street" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label>Кв./офис</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="suite" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label>Город</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="city" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label>Индекс</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="zipcode" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-divider nzText="Компания" nzOrientation="left"></nz-divider>
        <div nz-row [nzGutter]="16" formGroupName="company">
          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label>Название</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="name" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label>Слоган</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="catchPhrase" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label>Направление</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="bs" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div class="user-form__actions">
          <button nz-button type="button" (click)="cancel()" [disabled]="submitting()">
            Отмена
          </button>
          <button
            nz-button
            nzType="primary"
            type="submit"
            [nzLoading]="submitting()"
          >
            {{ isEdit() ? 'Сохранить' : 'Создать пользователя' }}
          </button>
        </div>
      </form>
    </nz-card>
  }
</div>
